#footerNav {
  width: 100%;
  bottom: 0;
  left:0;
  height: 10%;
  position: fixed;
  border-top: 1px solid #666666;
  padding-top: 18px;
  background-color: #444;
}

#footerNav ol {
  margin: 0;
  padding:0;
}

#footerNav li {
  display: inline-block;
  width: 30%;
  border-right: 1px solid #666666;
}
#footerNav li:last-child {
  border-right: 0px;
}
#footerNav a {color: white;display: block;
  padding: 20px;
  text-decoration:none;}
#insta { }
#tweet { }
#face { }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:red;
}
